.calendar-page-con {
  height: 100%;
  overflow: hidden;
  &-opt {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    .title {
      font-size: 18px;
      font-weight: bolder;
    }
  }
}