.calendar-page-con {
  height: 100%;
  overflow: hidden;
  &-opt {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    .title {
      width: 140px;
      font-size: 18px;
      font-weight: bolder;
    }
  }

  .calendar-table {
    width: 100%;
    height: 100%;

    thead {
      .ant-table-cell {
        padding: 16px 5px 16px !important;
      }
    }
    tbody {
      .ant-table-cell {
        padding: 0px !important;
      }

      .ant-table-cell-row-hover {
        background: none !important;
      }

      .calendar-day:hover {
        .calendar-date-con .calendar-date-opt {
          opacity: 1;
          cursor: pointer;
        }
      }

      .calendar-day {
        padding: 2px;
        .calendar-date-con {
          margin-bottom: 2px;
          display: flex;
          justify-content: space-between;

          .calendar-date-opt {
            opacity: 0;
            cursor: pointer;
          }

          .today-is-firstday {
            height: 30px;
            line-height: 30px;
            display: flex;

            span {
              margin: 0px 2px;
            }
          }

          .day {
            width: 30px;
            height: 30px;
            line-height: 30px;
            display: block;
            text-align: center;
            border-radius: 50%;
          }

          .today {
            background-color: #bae7ff;
          }
        }

        .calendar-item-con {
          width: 100%;
          padding: 0px 5px;
          .task-title {
            display: block;
            width: 100%;
            height: 16px;
            line-height: 16px;
            border-radius: 5px;
            margin-bottom: 2px;
            padding: 0px 5px;
            font-size: 10px;
            cursor: pointer;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #ffffff;
            background-color: #d9d9d9;
          }

          .priority-3 {
            background-color: rgb(255, 77, 79);
          }

          .priority-2 {
            background-color: rgb(250, 173, 20);
          }

          .priority-1 {
            background-color: rgb(24, 144, 255);
          }

          .priority-0 {
            background-color: rgb(56, 158, 13)
          }
        }
      }

      .disabled {
        background: #fafafa;
      }

      .calendar-day:hover {
        background: #bae7ff;
      }
    }
  }
}

.ant-popover-inner {
  padding: 10px;
}