.calendar-page-con {
  height: 100%;
  overflow: hidden;
  &-opt {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    .title {
      font-size: 18px;
      font-weight: bolder;
    }
  }

  .calendar-table {
    width: 100%;
    height: 100%;

    thead {
      .ant-table-cell {
        padding: 16px 8px 16px !important;
      }
    }
    tbody {
      .ant-table-cell {
        padding: 0px !important;
      }

      .ant-table-cell-row-hover {
        background: none !important;
      }

      .today {
        padding: 6px;
        border-radius: 50%;
        background-color: #bae7ff;
      }

      .calendar-day {
        padding: 8px;
      }

      .disabled {
        background: #fafafa;
      }

      .calendar-day:hover {
        background: #bae7ff;
      }
    }
  }
}