.filter-opt-con {
  width: 100px;

  .filter-opt-active {
    color: rgb(24, 144, 255)
  }
}

.filter-form-opt {
  padding: 4px 10px !important;
}

.sort-opt-con {
  text-align: center;
  width: 100px;
}
.ant-list {
  font-size: 14px;

  .ant-list-item-meta {
    margin-bottom: 0px !important;
  }

  .ant-list-item-action {
    margin-top: 0px !important;

    .item-opt {
      font-size: 12px !important;
      gap: 5px !important;

      &-danger {
        color: rgb(255, 77, 79)
      }

      &-warning {
        color: rgb(250, 173, 20)
      }

      &-primary {
        color: rgb(24, 144, 255)
      }

      &-success {
        color: rgb(56, 158, 13)
      }
    }
  }
}
