.pop-opt-con {
  width: 140px;

  .pop-opt {
    &-danger {
      color: rgb(255, 77, 79)
    }

    &-warning {
      color: rgb(250, 173, 20)
    }

    &-primary {
      color: rgb(24, 144, 255)
    }
  }
}

.pop-status-con {
  width: 120px;

  .pop-status-opt {
    &-primary {
      color: rgb(24, 144, 255)
    }

    &-success {
      color: rgb(56, 158, 13)
    }
  }
}

.item-opt-more {
  width: 200px;
  .ant-popover-inner-content {
    padding: 5px 16px !important;

    .item-opt-more-label {
      font-size: 12px;
      color: rgba(0, 0, 0, 0.45);
      margin-top: 5px;
    }

    .item-opt-li {
      cursor: pointer;
      margin: 5px 0px;
    }

    .item-opt-status {
      border-top: 1px solid rgb(217, 217, 217);

      .item-opt-status-div {
        display: flex;
        justify-content: space-evenly;

        .ant-btn-text {
          padding: 5px 0px !important;
        }

        .item-opt-status {
          &-primary {
            color: rgb(24, 144, 255)
          }

          &-success {
            color: rgb(56, 158, 13)
          }
        }
      }
    }

    .item-opt-del {
      height: 30px;
      line-height: 30px;
      border-top: 1px solid rgb(217, 217, 217);
    }
  }
}

.file-page-con {
  height: 100%;

  .file-list-con {
    height: 100%;
    width: 100%;

    .file-filter-con {
      height: 40px;
      width: 100%;
      line-height: 40px;
      margin-bottom: 15px;

      .filter-form-opt {
        padding: 4px 10px !important;
      }
    }

    .file-item-con {}
  }

  .task-info-con {
    padding-left: 15px;
    .task-info-opt-con {
      display: flex;
      justify-content: space-between;
      height: 40px;
      width: 100%;
      line-height: 40px;
      margin-bottom: 15px;

      .task-info-opt {
        display: inline-block;
        height: 32px;
        line-height: 32px;
        padding: 0px 12px !important;

        &-danger {
          color: rgb(255, 77, 79);
          input {
            color: rgb(255, 77, 79);
          }
        }

        &-warning {
          color: rgb(250, 173, 20);
          input {
            color: rgb(250, 173, 20);
          }
        }

        &-primary {
          color: rgb(24, 144, 255);
          input {
            color: rgb(24, 144, 255);
          }
        }

        &-success {
          color: rgb(56, 158, 13);
          input {
            color: rgb(56, 158, 13);
          }
        }

        .ant-input {
          padding: 0px 5px !important;
        }
      }

      .ant-picker {
        padding: 4px 8px 4px !important;
      }
    }
  }
}

.ant-list {
  font-size: 14px;

  .ant-list-item {
    padding: 8px 0px !important;
  }

  .ant-list-item-meta {
    margin-bottom: 0px !important;
  }

  .ant-list-item-action {
    margin-top: 0px !important;

    .item-opt {
      font-size: 12px !important;
      gap: 5px !important;

      &-danger {
        color: rgb(255, 77, 79)
      }

      &-warning {
        color: rgb(250, 173, 20)
      }

      &-primary {
        color: rgb(24, 144, 255)
      }

      &-success {
        color: rgb(56, 158, 13)
      }
    }
  }
}
