.pop-opt-con {
  width: 140px;

  .pop-opt {
    &-danger {
      color: rgb(255, 77, 79)
    }

    &-warning {
      color: rgb(250, 173, 20)
    }

    &-primary {
      color: rgb(24, 144, 255)
    }
  }

  .ant-popover-inner {
    padding: 0px !important;
  }

  .ant-popover-title {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.45);
    width: 100%;
    height: 32px;
    line-height: 32px;
  }
}

.pop-status-con {
  width: 120px;

  .pop-status-opt {
    &-primary {
      color: rgb(24, 144, 255)
    }

    &-success {
      color: rgb(56, 158, 13)
    }
  }
}

.item-opt-more {
  width: 200px;
  .ant-popover-inner-content {
    padding: 5px 16px !important;

    .item-opt-more-label {
      font-size: 12px;
      color: rgba(0, 0, 0, 0.45);
      margin-top: 5px;
    }

    .item-opt-li {
      cursor: pointer;
      margin: 5px 0px;
      font-size: 12px;
    }

    .item-opt-mul {
      border-top: 1px solid rgb(217, 217, 217);

      .item-opt-mul-div {
        display: flex;
        justify-content: space-evenly;

        .ant-btn-text {
          font-size: 14px;
          padding: 5px 0px !important;
        }

        .item-opt-mul {
          &-danger {
            color: rgb(255, 77, 79)
          }

          &-warning {
            color: rgb(250, 173, 20)
          }

          &-primary {
            color: rgb(24, 144, 255)
          }

          &-success {
            color: rgb(56, 158, 13)
          }
        }
      }
    }

    .item-opt-del {
      height: 30px;
      line-height: 30px;

      &-del {
        font-size: 14px;
        border-top: 1px solid rgb(217, 217, 217);
        color: rgb(255, 77, 79);
      }
    }
  }
}

.file-page-con {
  height: 100%;

  .file-list-con {
    height: 100%;
    width: 100%;

    .file-filter-con {
      height: 40px;
      width: 100%;
      line-height: 40px;
      margin-bottom: 15px;

      .filter-form-opt {
        color: rgba(0, 0, 0, 0.45);
      }
    }

    .file-item-con {}
  }

  .no-task-info-con {
    color: rgba(0, 0, 0, 0.45);
    font-size: 18px;
    user-select: none;

    width: 100%;
    height: 100%;
    display:flex;
    align-items:center;
    justify-content:center;

    .no-task-info-con-icon {
      font-size: 50px;
      margin-right: 10px;
    }
  }
}

.ant-list {
  font-size: 14px;

  .ant-list-item {
    padding: 8px 0px !important;
  }

  .ant-list-item-meta {
    margin-bottom: 0px !important;
  }

  .ant-list-item-action {
    margin-top: 0px !important;

    li {
      padding: 0px;
    }
  }
}
