.header-con {
  padding: 0px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  border-bottom: 1px solid #f0f0f0;

  &-logo {
    width: 200px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(24, 144, 255);
  }

  &-username {
    margin-left: 10px;
    margin-right: 10px;
  }

  &-opt {
    display: flex;
    color: #000000d9;
    padding-right: 15px;

    &-user {
      cursor: pointer;
      padding: 0px 10px;
    }

    &-notice {
      width: 60px;
      text-align: center;
      cursor: pointer;
    }
  }
}

.header-con-opt-user-pop {
  width: 150px;
}