.sider-con {
  &-logo {
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
  }
}
.header-con {
  height: 60px;
  line-height: 60px;
  padding: 0px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;

  &-logo {
    width: 200px;
    text-align: center;
    font-weight: bold;
  }
}

.nav-con {
  height: 20px;
  line-height: 20px;
}

.page-con {
  background-color: #ffffff;
}

.footer-con {
  height: 70px;
  line-height: 70px;
  font-size: 12px;
  text-align: center;
  padding: 0px;
}

.site-layout-background {
  background: #fff;
  height: 60px;
  line-height: 60px;
}
//
//.home-page {
//
//  .ant-layout-header {
//    height: 60px;
//    lineHeight: 60px;
//    padding: 0px;
//    border-bottom: 1px solid rgb(217, 217, 217);
//    display: flex;
//    justify-content: space-between;
//    .logo-con {
//      color: #ffffff;
//      width: 200px;
//      text-align: center;
//      font-weight: bold;
//    }
//
//    .header-opt-con {
//      background-color: #ffffff;
//      width: 100%;
//      text-align: right;
//    }
//  }
//}