.site-layout-background {
  background: #fff;
}


.home-page {
  .ant-layout-header {
    display: -webkit-box;
    border-bottom: 1px solid rgb(217, 217, 217);
    border-radius: 4px;
    transition: .3s;
    .logo-con {
      color: #ffffff;
      width: 200px;
      text-align: center;
      font-weight: bold;
    }

    .header-opt-con {
      background-color: #ffffff;
      width: 100%;
    }
  }
}