.item-opt {
  gap: 5px !important;

  input {
    padding: 4px 8px !important;
  }

  &-danger {
    color: rgb(255, 77, 79);
    input {
      color: rgb(255, 77, 79);
    }
  }

  &-warning {
    color: rgb(250, 173, 20);
    input {
      color: rgb(250, 173, 20);
    }
  }

  &-primary {
    color: rgb(24, 144, 255);
    input {
      color: rgb(24, 144, 255);
    }
  }

  &-success {
    color: rgb(56, 158, 13);
    input {
      padding: 4px 8px !important;
    }
  }
}

.deadline-picker {
  input {
    display: none;
  }
}