.settings-page-con {
  background-color: #ffffff;
  border: 0px;

  &-account {
    display: flex;
    height: 180px;
    line-height: 180px;

    &-icon {
      width: 100px;
      height: 100px;
      margin-right: 10px;

      &-img {
        width: 100%;
        border-radius: 50px;
      }
      .ant-upload {
        border-radius: 50px;
        border: 1px solid #f0f0f0;
      }
    }

    &-tips {
      padding-top: 80px;
      font-size: 12px;
    }

    .opt-edit {
      padding-top: 80px;
      padding-left: 0px;
    }

    .icon-opt {
      font-size: 20px;
    }
  }

  .ant-collapse-item {
    border: none;
  }
}