.settings-page-con {
  background-color: #ffffff;
  border: 0px;

  &-account {
    display: flex;
    height: 100px;

    &-icon {
      width: 100px;
      margin-right: 10px;
    }

    &-tips {
      padding-top: 80px;
      font-size: 12px;
    }

    .opt-edit {
      padding-top: 80px;
      padding-left: 0px;
    }

    .icon-opt {
      font-size: 20px;
    }
  }

  .ant-collapse-item {
    border: none;
  }
}