.task-info-con {
  &-type {
    display: flex;
    justify-content: space-evenly;
  }

  .task-info-opt-con {
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 100%;
    line-height: 40px;
    margin-bottom: 15px;

    .task-info-opt {
      display: inline-block;
      height: 32px;
      line-height: 32px;
      padding: 0px 12px !important;

      &-danger {
        color: rgb(255, 77, 79);
        input {
          color: rgb(255, 77, 79);
        }
      }

      &-warning {
        color: rgb(250, 173, 20);
        input {
          color: rgb(250, 173, 20);
        }
      }

      &-primary {
        color: rgb(24, 144, 255);
        input {
          color: rgb(24, 144, 255);
        }
      }

      &-success {
        color: rgb(56, 158, 13);
        input {
          color: rgb(56, 158, 13);
        }
      }

      .ant-input {
        padding: 0px 5px !important;
      }
    }

    .ant-picker {
      padding: 4px 8px 4px !important;
    }
  }

  #vditor {
    border: none;
    margin-top: 10px;

    .vditor-toolbar {
      border: none;
    }

    .vditor-reset {
      font-size: 14px;
      padding: 4px 11px !important;
      background-color: #ffffff !important;
    }
  }
}